<%- include('../partials/header') %>

<h1>Task Description</h1>
<table>
  
  <% tasks.forEach(task => { %>
  <h4><%= task.description%></h4>
  <%= task.taskDate ? task.taskDate.toDateString() : ""%>

 
  <form action="/tasks/<%= task._id %>?_method=PUT" method="POST">
    <input name="text" value="">
    <button type="submit">Update Task</button>
  </form>

  <form action ="/tasks/<%=task._id%>?_method=DELETE" method="POST" ><button type="submit">Done</button>
  </form>


 
  <%}) %>
</table>  
<%- include('../partials/footer') %>