<%- include('../partials/header') %>
<h1>Task Description</h1>
<% tasks.forEach(task => { %>
  <h4><%= task.description%></h4>
  <%= task.taskDate ? task.taskDate.toDateString() : ""%>

 <form action ="/tasks/<%=task._id%>?_method=DELETE" method="POST" ><button type="submit">Done</button>
 </form>

 <form action ="/tasks/<%=task._id%>?_method=PUT" method="POST" ><button type="submit">Update</button>
 </form>
 
<%}) %>
  
<%- include('../partials/footer') %>